@import '../../styles/vars.scss';

.container {
    display: flex;
    margin-bottom: $spacer-s;
    @media (max-width: $md) {
        margin-bottom: $spacer-xs;
    }
    @media (max-width: $sm) {
        font-size: $fs-xxs;
        margin-bottom: $spacer-xxs;
    }
}

.input {
    margin-right: $spacer-s;

    @media (max-width: $md) {
        margin-right: $spacer-xs;
    }
    @media (max-width: $sm) {
        margin-right: $spacer-xxs;
    }
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    @media (max-width: $md) {
        min-width: 34px;
        min-height: 34px;
    }
    @media (max-width: $sm) {
        min-width: 28px;
        min-height: 28px;
    }
}
