@import '@scss/vars';

.button {
    width: 100%;
    background: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
    font-size: $fs-l;

    @media (max-width: $lg) {
        font-size: $fs-m;
    }
    @media (max-width: $md) {
        font-size: $fs-s;
    }
    @media (max-width: $sm) {
        font-size: $fs-xs;
    }
}
