@import '../../styles/vars.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.text {
    color: var(--primary-color);
    margin-bottom: $spacer-xs;
    text-align: center;
    font-size: $fs-xl;
    @media (max-width: $xl) {
        font-size: $fs-l;
    }
    @media (max-width: $lg) {
        font-size: $fs-m;
    }
    @media (max-width: $md) {
        font-size: $fs-s;
    }
    @media (max-width: $sm) {
        font-size: $fs-xxs;
    }
}

.seacrhBlock {
    position: relative;
    width: 100%;
}

.search {
    height: $search-height-xl;
    background: var(--search-background-color);
    border: none;
    padding-left: $spacer-s;
    @media (max-width: $lg) {
        height: $search-height-lg;
        padding-left: $spacer-xs;
    }
    @media (max-width: $md) {
        height: $search-height-md;
        padding-left: $spacer-xs;
    }
    @media (max-width: $sm) {
        height: $search-height-sm;
        padding-left: $spacer-xxs;
    }
}
