@import '../../styles/vars.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: $max-w;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
