@import '../../styles/vars.scss';

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding: 30px 0;
}

.window {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 16px;
    background: var(--card-background-color);
    padding: $spacer-l;
    @media (max-width: $md) {
        width: 420px;
        padding: $spacer-m;
    }
    @media (max-width: $sm) {
        width: 370px;
        padding: $spacer-s;
    }
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 0;
    background: var(--card-background-color);
    padding: 0;
    right: 10px;
    top: 6px;
    @media (max-width: $sm) {
        width: 32px;
        height: 32px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    color: var(--primary-color);
    margin-bottom: $spacer-xs;
    font-size: $fs-l;
    @media (max-width: $md) {
        font-size: $fs-m;
    }
    @media (max-width: $sm) {
        font-size: $fs-s;
    }
}

.currencies {
    width: 100%;
    overflow: hidden;
    select {
        background: var(--card-background-color);
    }
}

.description {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer-s;
    & {
        color: var(--primary-color);
        font-size: $fs-m;
        @media (max-width: $md) {
            font-size: $fs-s;
        }
        @media (max-width: $sm) {
            font-size: $fs-xs;
        }
    }
}
