@import '../../styles/vars.scss';

$currencyHeight-xl: 58px;
$currencyHeight-lg: 53px;
$currencyHeight-md: 39px;
$currencyHeight-sm: 29px;

$countVisibleCurrency-xl: 6;
$countVisibleCurrency-lg: 5;
$countVisibleCurrency-md: 5;
$countVisibleCurrency-sm: 4;

.container {
    position: absolute;
    top: $search-height-xl + 1;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    width: 100%;
    z-index: 100;
    border-radius: 12px;
    max-height: calc($currencyHeight-xl * $countVisibleCurrency-xl);
    overflow-y: auto;
    @media (max-width: $lg) {
        max-height: calc($currencyHeight-lg * $countVisibleCurrency-lg);
        top: $search-height-lg + 1;
    }
    @media (max-width: $md) {
        top: $search-height-md + 1;
        max-height: calc($currencyHeight-md * $countVisibleCurrency-md);
    }
    @media (max-width: $sm) {
        top: $search-height-sm + 1;
        max-height: calc($currencyHeight-sm * $countVisibleCurrency-sm);
    }
}

.currencyWrap {
    display: flex;
    width: 100%;
    padding: $spacer-xxs 0;
    &:hover {
        background: var(--background-color-hover);
    }
    @media (max-width: $md) {
        padding: $spacer-xxxs 0;
    }
}

.active {
    background: var(--background-color-hover);
}

.currency {
    padding-left: $spacer-xs;
    color: var(--primary-color);
    font-size: $fs-m;
    @media (max-width: $lg) {
        font-size: $fs-s;
    }
    @media (max-width: $md) {
        font-size: $fs-xs;
    }
    @media (max-width: $sm) {
        font-size: $fs-xxs;
    }
}
