@import '@scss/vars';
@import '@scss/mixins';

.container {
    @include flex-column-center;
    width: 100%;
    margin: $spacer-l 0;

    @media (max-width: $xxxl) {
        width: 920px;
    }
    @media (max-width: $lg) {
        width: 720px;
    }
    @media (max-width: $md) {
        width: 520px;
    }
    @media (max-width: $sm) {
        width: 370px;
    }
}

.selectWrap {
    width: 100%;
    @include flex-row-start;
}
