@import '../../styles/vars.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: $spacer-l 0;
    @media (max-width: $xxxl) {
        width: 920px;
    }
    @media (max-width: $lg) {
        width: 720px;
    }

    @media (max-width: $md) {
        width: 520px;
    }
    @media (max-width: $sm) {
        width: 370px;
    }
}

.selectWrap {
    width: 100%;
    display: flex;
    justify-content: start;
}

.notify {
    position: fixed;
    width: 400px;
    float: right;
    height: 70px;
    top: 100px;
    bottom: 0;
    right: 10px;
    border-radius: 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: green;
    color: var(--primary-color);
}
