@import '@scss/vars';

.select {
    width: 300px;
    background: var(--background-color);
    color: var(--primary-color);
    font-size: $fs-l;
    cursor: pointer;

    @media (max-width: $lg) {
        width: 280px;
        font-size: $fs-m;
    }
    @media (max-width: $md) {
        width: 240px;
        font-size: $fs-s;
    }
    @media (max-width: $sm) {
        width: 200px;
        font-size: $fs-xs;
    }
}
