@import '@scss/vars';
@import '@scss/mixins';

.container {
    @include flex-column-center;
    width: 100%;
    padding: 0 $spacer-xxl;
    background: var(--footer-background-color);

    @media (max-width: $xxl) {
        padding: 0 $spacer-xl;
    }
    @media (max-width: $xl) {
        padding: 0 $spacer-l;
    }
    @media (max-width: $lg) {
        padding: 0 $spacer-m;
    }
    @media (max-width: $md) {
        padding: 0 $spacer-s;
    }
}

.info {
    @include flex-row-sb;
    max-width: $max-w;
    margin-top: $spacer-xs;
    margin-bottom: $spacer-xl;

    @media (max-width: $md) {
        flex-direction: column;
    }
}

.description {
    @include flex-column-start;
    flex: 0.9;
}

.descTitle {
    @include flex-row-center;
    padding-bottom: $spacer-m;

    @media (max-width: $xl) {
        font-size: $fs-xs;
    }
    @media (max-width: $md) {
        font-size: $fs-xs;
    }
}

.descText {
    padding-left: $spacer-m;
    background: $text-gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.descInfo {
    @include flex-row-center;
    font-size: $fs-s;
    color: var(--primary-color);

    @media (max-width: $xl) {
        font-size: $fs-xs;
    }
    @media (max-width: $md) {
        display: none;
    }
}

.linksBlock {
    @include flex-row-sb;
    flex: 1;
    margin-left: $spacer-l;

    @media (max-width: $md) {
        display: none;
    }
}

.linksColumn {
    @include flex-column-start;
}

.title {
    padding-bottom: $spacer-m;
    color: var(--primary-color);

    @media (max-width: $xl) {
        font-size: $fs-s;
        padding-bottom: $spacer-s;
    }
    @media (max-width: $md) {
        font-size: $fs-xs;
    }
}

.link {
    font-size: $fs-s;
    text-decoration: none;
    padding-bottom: $spacer-xs;
    color: $grey;

    @media (max-width: $xl) {
        font-size: $fs-xs;
    }
    @media (max-width: $md) {
        font-size: $fs-xxs;
    }
}

.accordion {
    @include flex-column-center;

    @media (min-width: $md) {
        display: none;
    }
}

.rights {
    text-align: center;
    margin-bottom: $spacer-base;
    color: var(--primary-color);

    @media (max-width: $xl) {
        font-size: $fs-s;
    }
    @media (max-width: $md) {
        font-size: $fs-xs;
    }
}
