@import '../../styles/vars.scss';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: $spacer-xl 0;
    @media (max-width: $lg) {
        margin: $spacer-l 0;
    }
    @media (max-width: $md) {
        margin: $spacer-m 0;
    }
    @media (max-width: $sm) {
        margin: $spacer-s 0;
    }
}

.search {
    width: 60%;
    margin-bottom: $spacer-l;
    @media (max-width: $xl) {
        margin-bottom: $spacer-m;
    }

    @media (max-width: $md) {
        margin-bottom: $spacer-s;
    }
    @media (max-width: $sm) {
        margin-bottom: $spacer-xs;
    }
}
