@import './styles/vars.scss';
@import './styles/reset.scss';
@import './styles/theme.scss';

html {
    font-size: $fs-base;
    background-color: var(--background-color);
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: $ff;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}
