@import '../../styles/vars.scss';

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    background: var(--card-background-color);
    width: 420px;
    height: 110px;
    padding: $spacer-s;
    border: var(--card-border);
    border-radius: 10px;
    @media (max-width: $sm) {
        width: 370px;
        height: 90px;
    }
}

.image {
    display: flex;
    margin-right: $spacer-s;
    transform: scale(0.8);
    @media (max-width: $sm) {
        transform: scale(0.7);
    }
}

.info {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: $fs-m;
    color: var(--primary-color);
    @media (max-width: $sm) {
        font-size: $fs-s;
    }
}

.subtitle {
    font-size: $fs-s;
    color: var(--secondary-color);
    @media (max-width: $sm) {
        font-size: $fs-xs;
    }
}
