@import '../../styles/vars.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: $spacer-l 0px;
}

.title {
    padding-bottom: $spacer-m;
    margin-bottom: $spacer-l;
    border-bottom: var(--card-border);
    color: var(--primary-color);
    width: 420px;
    font-size: $fs-m;
    @media (max-width: $sm) {
        width: 370px;
        font-size: $fs-s;
    }
}

.cardsBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    column-gap: 180px;
    row-gap: 40px;
    @media (max-width: $xxl) {
        column-gap: 170px;
        row-gap: 36px;
    }
    @media (max-width: $xl) {
        column-gap: 130px;
        row-gap: 30px;
    }
    @media (max-width: $lg) {
        grid-template-columns: 1fr;
    }
}
