@import '@scss/vars';
@import '@scss/mixins';

$sizeIcon: 40px;
$transitionTime: 0.5s;

.container {
    overflow: hidden;
    width: 360px;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: $spacer-xxs;
}

.head {
    @include flex-row-sb;
}

.visibleContent {
    transition:
        max-height 4s,
        padding $transitionTime;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding-top: $spacer-xs;
    padding-left: $spacer-s;
    cursor: pointer;
}

.hideContent {
    transition:
        max-height 1s,
        padding $transitionTime;
    padding: 0 $spacer-s;
    max-height: 0;
}

.title {
    font-size: $fs-s;
    color: var(--primary-color);
}

.openIcon {
    transition: all $transitionTime;
    width: $sizeIcon;
    height: $sizeIcon;
}

.closeIcon {
    transition: all $transitionTime;
    transform: rotate(180deg);
    width: $sizeIcon;
    height: $sizeIcon;
}

.text {
    padding-top: 10px;
    margin-bottom: $spacer-xs;
    font-size: $fs-xs;
    color: var(--primary-color);
}
