@import '@scss/vars';

$toggleButtonWidth: 80px;
$toggleButtonHeight: 40px;

.container {
    button {
        position: relative;
        width: $toggleButtonWidth;
        height: $toggleButtonHeight;
        margin: 0;
        border-radius: 30px;
        outline: none;
        cursor: pointer;

        @media (max-width: $xl) {
            width: calc($toggleButtonWidth - 12px);
            height: calc($toggleButtonHeight - 8px);
        }
        @media (max-width: $lg) {
            width: calc($toggleButtonWidth - 18px);
            height: calc($toggleButtonHeight - 12px);
        }
        @media (max-width: $md) {
            width: calc($toggleButtonWidth - 24px);
            height: calc($toggleButtonHeight - 16px);
        }
        @media (max-width: $sm) {
            width: calc($toggleButtonWidth - 30px);
            height: calc($toggleButtonHeight - 20px);
        }
    }

    button::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 1.5px;
        border-radius: 50%;
        width: calc($toggleButtonWidth - 46px);
        height: calc($toggleButtonHeight - 6px);
        transition: transform 0.25s;
        right: 2px;
        @media (max-width: $xl) {
            width: calc($toggleButtonWidth - 54px);
            height: calc($toggleButtonHeight - 14px);
            top: 0.5px;
        }
        @media (max-width: $lg) {
            width: calc($toggleButtonWidth - 57px);
            height: calc($toggleButtonHeight - 17px);
        }
        @media (max-width: $md) {
            width: calc($toggleButtonWidth - 61px);
            height: calc($toggleButtonHeight - 22px);
            top: 1.5px;
        }
        @media (max-width: $sm) {
            width: calc($toggleButtonWidth - 65px);
            height: calc($toggleButtonHeight - 26px);
            top: 0.5px;
        }
    }
}

.darkButton {
    background: $white;

    &::after {
        background-color: $black;
    }
}

.lightButton {
    background: $black;

    &::after {
        background-color: $white;
        transform: translateX(-39px);

        @media (max-width: $xxl) {
            transform: translateX(-40px);
        }
        @media (max-width: $xl) {
            transform: translateX(-36px);
        }
        @media (max-width: $lg) {
            transform: translateX(-33px);
        }
        @media (max-width: $md) {
            transform: translateX(-31px);
        }
        @media (max-width: $sm) {
            transform: translateX(-29px);
        }
    }
}
